@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
}

header {
    background-color: rgb(243, 242, 241);
    height: 800px;
}

li#lies {
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}

/*ul > #option {
    display: none;
    
}

ul:hover > #option {
    display: block;
    background-color: white;
    padding: 5px;
    height: 20px;
}
*/
ul > li {
    display: inline-block;
    padding: 30px;
    padding-bottom: 10px;
   cursor: pointer;
}

main {
    background-color: white;
    height: 1500px;
}

div {
    background-color: rgb(243, 242, 241);
    height: 700px;
}

div.especial {
    background-color: white;
    height: 1500px;
}

div.especial2 {
    background-color: rgb(243, 242, 241);
    height: 500px;
}

div.especial3 {
    background-color: white;
    height: 900px;
}

div.especial4 {
    background-color: rgb(243, 242, 241);
    height: 750px;
}

footer {
    background-color: white;
}