@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: 'Times New Roman', Times, serif;
   
}
/*
header {
    background-color:  rgb(243, 242, 241) ;
    height: 1000px;
}
#imgblock {
    background-color: rgb(243, 242, 241);
    height: 800px;
    position: relative;
}
main {
    background-color: white;
    height: 1400px;
}
div.especial {
    background-color: white;
    height: 1350px;
}
div.especial2 {
    background-color: rgb(243, 242, 241);
    height: 500px;
}
div.especial3 {
    background-color: white;
    height: 1250px;
}
div.especial4 {
    background-color: rgb(243, 242, 241);
    height: 580px;
}
footer {
    background-color: white;
}


.menu {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.menu-item {
    position: relative;
    padding: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    flex-direction: column;
}

.submenu div {
    padding: 12px 16px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.submenu div:hover {
    background-color: #b9b7b7;
}

.show {
    display: flex;
}

*/

